

.userItem {
    background-color: #65b5b5;
    margin: 20px;
    border-radius: 5px;
    width: 400px;
    padding: 10px;;
    color: #14555b}




.followButton {
    background-color: #14555B;
    color: gainsboro;
    width: 130px;
    height: 45px;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: monospace;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 3px ;
    border-bottom: 4px solid #042624;
    align-self: center;
}
.followButton:hover {
    background-color: #329c7d;
}

.followButton:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

.userPhoto {
    width: 100px;
    height: 100px;
}

.pages{
    margin: 5px;
    width: 730px;
    overflow: hidden}

.pageNumber {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    }

.pageNumber:hover {
    background-color: #329c7d;
}

.selectedPage {
    color: white;
    background-color: #14555b;
    margin: 5px;
}
